.userphotos{
	position: relative;
}
.usimg{
	z-index: 100;
	position: absolute;
	/*transform: translateX(-50%);*/
	bottom: -55px;
	left: 0;
	right: 0;
	margin:auto;
	width: 150px;
	height: 150px;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;

}
.alluserinfo{
	/*width: 100%;*/
	margin-top: 60px;
	/*margin:auto;*/
	position: relative;
	/*bottom: -100px;*/
	/*left: 0;*/
	/*right: 0;*/
	/*margin:auto;*/
}
.changebg{
	position: absolute;
	right: 10px;
	top: 10px;
}
.changeusername{
	width: 30px;
	font-size: 10px;
	position: absolute;
	right: 0;
	left: 190px;
	top: -10px;
	margin:auto;
	/*opacity: 0;*/
}
.changeimage{
	position: relative;
	width: 150px;
	height: 150px;
	/*display: inline-block;*/
}
.imgonachange{
	/*display: none;*/
	/*height: 0px;*/
	/*display: flex;*/
	/*justify-content: center;*/
	/*align-items: center;*/
	font-size: 32px;
	/*color: white !important;*/
	opacity: 0;
	background: rgb(2,0,36);
	background: -webkit-linear-gradient(52deg, rgba(2,0,36,1) 0%, rgba(107,9,121,1) 0%, rgba(0,212,255,1) 100%);
	background: -o-linear-gradient(52deg, rgba(2,0,36,1) 0%, rgba(107,9,121,1) 0%, rgba(0,212,255,1) 100%);
	background: linear-gradient(142deg, rgba(2,0,36,1) 0%, rgba(107,9,121,1) 0%, rgba(0,212,255,1) 100%);
	bottom: 0px;
	transition: .5s;
	outline: none;
	border: none;
	
}
.usimg:hover > .imgonachange{
	opacity: 1;
	cursor: pointer;
}
.profbg{
	width: 100%;
	height: 250px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-top:66px;
}
.imname{
	display: inline-block;
}
.thephotos{
	position: relative;
	cursor: pointer;
}
.setheaderimg{
	position: absolute;
	right: 55px;
	top: 10px;
	display: none;
	transition: .3s;
}
.deleteimg{
	position: absolute;
	right: 10px;
	top: 10px;
	display: none;
	transition: .3s;
}
.thephotos:hover > .deleteimg{
	display: block;
}
.thephotos:hover > .setheaderimg{
	display: block;
}